<div ngbDropdown *ngIf="!edit">
  <button
    ngbDropdownToggle
    class="btn btn-secondary"
    type="button"
    style="color: white"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="bi bi-list"></i>
  </button>
  <div
    ngbDropdownMenu
    class="dropdown-menu"
    aria-labelledby="dropdownMenuButton"
  >
    <button class="dropdown-item" (click)="editRecipie()">
      <i class="bi bi-pencil-square"></i> Rediger oppskrift
    </button>
    <button class="dropdown-item" (click)="deleteRecipe()">
      <i class="bi bi-trash-fill"></i> Slett oppskrift
    </button>
  </div>
</div>

<meal-form
  *ngIf="edit"
  [onUpdateList]="onUpdateList"
  [mode]="'edit'"
  [recipie]="recipie"
  [onEditCancel]="editCancel"
></meal-form>
