<div
  style="
    height: 94.5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  "
  class="p-5"
>
  <h1 class="h1 title">{{ title }}</h1>
  <p style="font-size: 24px; font-style: italic" class="title">
    {{ description }}
  </p>
  <div class="p-5">
    <a class="btn btn-info btn-lg" href="/recipies"
      >Se våre flotte oppskrifter</a
    >
  </div>
</div>
